.idea/
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
project.lock.json
project.fragment.lock.json

art/
bin/
def/
doc/
sgn/
ssh/

src/BfmeFoundationProject_BfmeClient/
src/BfmeFoundationProject_BfmeInterface/
src/BfmeFoundationProject_MissionControl/
src/BfmeFoundationProject_OnlineArena/
src/BfmeFoundationProject_OnlinePortal/
src/BfmeFoundationProject_RelayServer/
src/BfmeFoundationProject_Shared/
src/BfmeFoundationProject_SharedUi/
src/BfmeFoundationProject_UnifiedServer/

BfmeFoundationProject_BfmeInterface.sln
BfmeFoundationProject_MissionControl.sln
BfmeFoundationProject_OnlineArena.sln
BfmeFoundationProject_OnlinePortal.sln
BfmeFoundationProject_RelayServer.sln
BfmeFoundationProject_UnifiedServer.sln